{% assign overlay_opacity = section.settings.overlay_alpha | divided_by: 100.0 %}

<!-- Mobile Devices -->
<div class="mb-3 w-full m-auto bg-white sm:block md:hidden">
    <div id="banner-swiper1" data-autoscroll="{{ section.settings.autoscroll }}" data-autoscroll_duration="{{ section.settings.autoscroll_duration }}">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% if block.type == "slide"%}
                    <div class="swiper-slide"  {{ block.shopify_attributes }}>
                        <div class="banner-height-small overflow-hidden flex items-center justify-center relative z-0">
                            <img 
                                class = "w-5/6 z-10"
                                src = "{{ block.settings.image | image_url: width: 2048 }}"
                                alt = "{{ block.settings.image.alt }}"
                                loading="lazy"
                            >
                            <div class="w-full h-full absolute z-20 top-0" style="background: {{ section.settings.overlay_color }}; opacity: {{ overlay_opacity }}"></div>
                            <div class="w-full h-full absolute z-30 top-0 bg-transparent flex items-center justify-center text-center text-slate-50 text-4xl">
                                <div>
                                    <h1 class="text-2xl">{{ block.settings.overlay_title }}<h1>
                                    <div class="text-sm">{{ block.settings.overlay_desc }}</div>
                                </div>
                            </div> 
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="swiper-slide"  {{ block.shopify_attributes }}>
                    <div class="banner-height-small overflow-hidden flex items-center justify-center relative z-0">
                        {{ "lifestyle-1" | placeholder_svg_tag: "w-5/6 z-10" }}
                        <div class="w-full h-full absolute z-20 top-0" style="background: {{ section.settings.overlay_color }}; opacity: {{ overlay_opacity }}"></div>
                        <div class="w-full h-full absolute z-30 top-0 bg-transparent flex items-center justify-center text-center text-slate-50 text-4xl">
                            <div>
                                <h1 class="text-2xl">Title<h1>
                                <p class="text-sm">Description</p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="swiper-slide"  {{ block.shopify_attributes }}>
                    <div class="banner-height-small overflow-hidden flex items-center justify-center relative z-0">
                        {{ "lifestyle-2" | placeholder_svg_tag: "w-5/6 z-10" }}
                        <div class="w-full h-full absolute z-20 top-0" style="background: {{ section.settings.overlay_color }}; opacity: {{ overlay_opacity }}"></div>
                        <div class="w-full h-full absolute z-30 top-0 bg-transparent flex items-center justify-center text-center text-slate-50">
                            <div>
                                <h1 class="text-2xl">Title<h1>
                                <p class="text-sm">Description</p>
                            </div>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="swiper-pagination" style="top: 50%"></div> <!-- Fix positioning of pagenation -->

        <div class="swiper-button-prev shrink-nav text-gray-300 top-1/3"></div> <!-- Fix positioning of navagation buttons AND shrink them as well -->
        <div class="swiper-button-next shrink-nav text-gray-300 top-1/3"></div> <!-- Fix positioning of navagation buttons AND shrink them as well -->
    </div>
</div>

<!-- Normal Devices -->
<div class="mb-3 w-full m-auto bg-white hidden md:block">
    <div id="banner-swiper2" data-autoscroll="{{ section.settings.autoscroll }}" data-autoscroll_duration="{{ section.settings.autoscroll_duration }}">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                {% if block.type == "slide"%}
                    <div class="swiper-slide"  {{ block.shopify_attributes }}>
                        <div class="banner-height-large overflow-hidden flex items-center justify-center relative z-0">
                            <img 
                                class = "w-5/6 z-10"
                                src = "{{ block.settings.image | image_url: width: 2048 }}"
                                alt = "{{ block.settings.image.alt }}"
                                loading="lazy"
                            >
                            <div class="w-full h-full absolute z-20 top-0" style="background: {{ section.settings.overlay_color }}; opacity: {{ overlay_opacity }}"></div>
                            <div class="w-full h-full absolute z-30 top-0 bg-transparent flex items-center justify-center text-center text-slate-50 text-4xl">
                                <div>
                                    <h1 class="text-4xl">{{ block.settings.overlay_title }}<h1>
                                    <div class="text-lg">{{ block.settings.overlay_desc }}</div>
                                </div>
                            </div> 
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="swiper-slide"  {{ block.shopify_attributes }}>
                    <div class="banner-height-large overflow-hidden flex items-center justify-center relative z-0">
                        {{ "lifestyle-1" | placeholder_svg_tag: "w-5/6 z-10" }}
                        <div class="w-full h-full absolute z-20 top-0" style="background: {{ section.settings.overlay_color }}; opacity: {{ overlay_opacity }}"></div>
                        <div class="w-full h-full absolute z-30 top-0 bg-transparent flex items-center justify-center text-center text-slate-50 text-4xl">
                            <div>
                                <h1 class="text-4xl">Title<h1>
                                <p class="text-lg">Description</p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="swiper-slide"  {{ block.shopify_attributes }}>
                    <div class="banner-height-large overflow-hidden flex items-center justify-center relative z-0">
                        {{ "lifestyle-2" | placeholder_svg_tag: "w-5/6 z-10" }}
                        <div class="w-full h-full absolute z-20 top-0" style="background: {{ section.settings.overlay_color }}; opacity: {{ overlay_opacity }}"></div>
                        <div class="w-full h-full absolute z-30 top-0 bg-transparent flex items-center justify-center text-center text-slate-50">
                            <div>
                                <h1 class="text-4xl">Title<h1>
                                <p class="text-lg">Description</p>
                            </div>
                        </div> 
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="swiper-pagination" style="top: 85%"></div> <!-- Fix positioning of pagenation -->

        <div class="swiper-button-prev text-gray-300"></div>
        <div class="swiper-button-next text-gray-300"></div>
    </div>
</div>

{% schema %}
{
    "name": "Banner",
    "limit": 1,
    "settings": [
        {
            "type": "color_background",
            "id": "overlay_color",
            "label": "Overlay Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "overlay_alpha",
            "label": "Overlay Alpha",
            "min": 0,
            "max": 100,
            "default": 75
        },
        {
            "type": "checkbox",
            "id": "autoscroll",
            "label": "Automaticly Scroll Banner",
            "default": false
        },
        {
            "type": "number",
            "id": "autoscroll_duration",
            "label": "Autoscroll Speed in Seconds",
            "default": 5
        }
    ],
    "blocks": [
        {
            "name": "Slide",
            "type": "slide",
            "settings": [
                {
                    "type": "text",
                    "id": "overlay_title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    "type": "richtext",
                    "id": "overlay_desc",
                    "label": "Description",
                    "default": "<p>Description</p>"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image To Show"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Banner"
        }
    ]
}
{% endschema %}